<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mfrp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>BillPaymentController</display-name>
    <servlet-name>BillPaymentController</servlet-name>
    <servlet-class>com.bps.controller.BillPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillPaymentController</servlet-name>
    <url-pattern>/BillPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.bps.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateController</display-name>
    <servlet-name>CustomerUpdateController</servlet-name>
    <servlet-class>com.bps.controller.CustomerUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateController</servlet-name>
    <url-pattern>/CustomerUpdateController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>CustomerUpdate</display-name>
    <servlet-name>CustomerUpdate</servlet-name>
    <servlet-class>com.bps.controller.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdate</servlet-name>
    <url-pattern>/CustomerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorRegistrationController</display-name>
    <servlet-name>VendorRegistrationController</servlet-name>
    <servlet-class>com.bps.controller.VendorRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorRegistrationController</servlet-name>
    <url-pattern>/VendorRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorUpdateController</display-name>
    <servlet-name>VendorUpdateController</servlet-name>
    <servlet-class>com.bps.controller.VendorUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorUpdateController</servlet-name>
    <url-pattern>/VendorUpdateController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>VendorUpdateController1</display-name>
    <servlet-name>VendorUpdateController1</servlet-name>
    <servlet-class>com.bps.controller.VendorUpdateController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorUpdateController1</servlet-name>
    <url-pattern>/VendorUpdateController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationController</display-name>
    <servlet-name>CustomerRegistrationController</servlet-name>
    <servlet-class>com.bps.controller.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationController</servlet-name>
    <url-pattern>/CustomerRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.bps.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>